.progress.tooltipped*{'data-position' => 'bottom', 'data-delay' => '50', 'data-tooltip' => "#{percent}%"}
  .progress-bar.progress-bar-striped *{class: "#{color == 'yellow' ? 'bg-progress-yellow' : 'bg-progress-brown'}"} *{'role' => 'progressbar', 'style' => "width: #{percent}%", 'aria-valuenow' => "#{percent}", 'aria-valuemin' => '0', 'aria-valuemax' => '100'}