@import 'materialize/components/color';
$primary-color: color('blue', 'lighten-2') !default;
$secondary-color: color('teal', 'lighten-2') !default;
@import 'materialize';

body { background-image: url('/background.jpg'); }
main { margin: 10px; }
.logo { margin-left: 10px; }
#slide-out { top: auto; }

main, footer {
  padding-left: 280px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.login {
  width: 400px;
  margin: 0 auto;
}

.modal { max-height: 80%;}
.modal.modal-fixed-footer { height: 80%; }

.menu .secondary-content {
  float: left;
  margin-right: 15px;
}

input[type=number] { -moz-appearance:textfield; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.top_date {
  border-bottom: none !important;
  font-size: xx-large !important;
  height: 4rem !important;
  width: auto;
  color: #525252;
}

.nav-date a {
  font-size: x-large;
  color: black;
}

.side-nav li.active { background-color: #64B5F6; }
.text-bold { font-weight: 700 !important; }
.text-italic { font-style: italic; }
.text-yellow { color: #fbc02d; }
.text-brown { color: #792400; }
.text-red { color: #f44336; }
.collapsible-with-margin { margin-bottom: 5px; }
.link_to_maltose_margin { margin-left: 10px; }
span.col-title { width: 150px; }
span.col-title-margin { margin-right: 10px; }
.hover_pointer { cursor: pointer; }
h4 i, h5 i { margin-right: 15px; }
li.tab-grain { background-color: #a1887f }
li.tab-bags { background-color: #e0e0e0 }
.disable-hover { pointer-events:none; }
.card-action > a.right { margin-right: 0px !important; }
.bottom_line { border-bottom: 1px solid #000000 }
.margin-left { margin-left: 10px; }
.text-right { text-align: right; }
.card-title-small { font-size: 20px !important; }
.btn-danger { background-color: #ef5350;}
.btn-danger:hover { background-color: #d32f2f;}
.btn-tooltipped { width: 220px; }
.card-content { padding: 16px !important; }
.progress { margin: 0 0 0 0}
.side-nav { height: calc(100% - 64px) }
.progress-over100 { box-shadow: 0 0 13px 5px rgb(222, 85, 85); }


.order-item-shipments p {
  margin: 0;

}
.action_button {
  margin-right: 10px;
  background-color: #4fc3f7;
}

.action_button:hover { background-color: #f48fb1; }
.action_button_pink { background-color: #f06292; }

.collection_radio_buttons {
  padding-left: 25px !important;
  margin-right: 20px;
}

.inline_block_50 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  p { margin: 0; }
}

.color-marker {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #8a8686;
}

#calendar { visibility: hidden; }

// bootstrap progress start
@-webkit-keyframes progress-bar-stripes {
  from { background-position: 1rem 0; }
  to { background-position: 0 0; }
}

@keyframes progress-bar-stripes {
  from { background-position: 1rem 0; }
  to { background-position: 0 0; }
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #fff;
  background-color: #007bff;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
          animation: progress-bar-stripes 1s linear infinite;
}

.bg-progress-yellow { background-color: #f3b00b; }
.bg-progress-brown { background-color: #795548; }
// bootstrap progress finish