@import 'materialize/components/color';
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("green", "base") !default;
@import 'materialize';

#slide-out {
  top: auto;
}

.login {
  width: 400px;
  margin: 0 auto;
}

main {
  margin: 10px;
}

#content {
  margin-left: 300px;
}