@import 'materialize/components/color';
$primary-color: color('blue', 'lighten-2') !default;
$secondary-color: color('teal', 'lighten-2') !default;
@import 'materialize';

body {
  background-image: url('/background.jpg');
}

.logo { margin-left: 10px; }

#slide-out {
  top: auto;
}

.login {
  width: 400px;
  margin: 0 auto;
}

main {  margin: 10px; }

.menu .secondary-content {
  float: left;
  margin-right: 15px;
}

.price_blank {
  color: red;
}

.yellow-text {
  color: goldenrod;
}

.brown-text {

  color: saddlebrown;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.collapsible-with-margin {
  margin-bottom: 5px;
}

span.col-title {
  width: 180px;
}